.clients {
    &__list {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            padding: 0;
        }
    
        &__link {
            display: flex;
            height: 92px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            fill: var(--icon-color);
            border: 1px solid var(--icon-color);
            border-radius: 4px;
            transition: border var(--anim),
                fill var(--anim);
        }
    
        &__item {
            flex-basis: calc((100% - 150px) / 6);
        }
    
    
        &__link:hover,
        &__link:focus {
            fill: var(--main-clr);
            border-color: var(--main-clr);
            border-radius: 4px;
        }
}

