.section {
    padding: 94px 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    font-family: var(--main-font);
    color: var(--dark-txt-clr);
    margin: 0;

}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.btn {
    background-color: var(--main-clr);
    color: var(--light-txt-clr);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    padding: 10px 32px;
    cursor: pointer;
    transition: color var(--anim),
        background-color var(--anim),
        box-shadow var(--anim);

&:hover {
        background-color: var(--btn-active);
    }
}


.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    transition: fill var(--anim),
        background-color var(--anim);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--main-clr);
    fill: var(--light-txt-clr);
}
